<% wrap_layout :layout do %>
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <div class="column">
          <div class="columns is-half is-offset-one-quarter">
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
              <ul class="menu-list">
                <li><a class="a2a_button_facebook social"></a></li>
                <li><a class="a2a_button_twitter social"></a></li>
                <li><a class="a2a_button_email social"></a></li>
                <li><a class="a2a_button_linkedin social"></a></li>
                <li><a class="a2a_button_whatsapp social"></a></li>
                <li><a class="a2a_button_sms social"></a></li>
                <li><a class="a2a_button_google_gmail social"></a></li>
                <li><a class="a2a_dd social" href="https://www.addtoany.com/share"></a></li>
              </ul>
            </div>
          </div>
        </div>

          <script async src="https://static.addtoany.com/menu/page.js"></script>

      </div>
      <div class="column is-8">
        <div class="content">
          <img class="img-post" src="<%= current_article.data.thumbnail_image %>">
          <p class="back-home"><%= link_to"<i class=\"fa fa-long-arrow-left fa-lg\"></i> Back to Home", "../index.html", :class => 'read-more' %></p>
          <h4 class="subtitle subtitle2">
            <span><%= current_article.date.strftime('%e %b %Y') %></span>
          </h4>
          <h2 class="title title2">
            <%= current_article.title %>
          </h2>
        </div>
        <div class="content justify-text">
          <p>
            <%= current_article.body %>
          </p>
        </div>
      </div>
      <div class="column is-2">
      </div>
    </div>
  </div>
  <div class="column is-half is-offset-one-third">
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <ul class="menu-list">
          <li><a class="a2a_button_facebook"></a></li>
          <li><a class="a2a_button_twitter"></a></li>
          <li><a class="a2a_button_email"></a></li>
          <li><a class="a2a_button_linkedin"></a></li>
          <li><a class="a2a_button_whatsapp"></a></li>
          <li><a class="a2a_button_sms"></a></li>
          <li><a class="a2a_button_google_gmail"></a></li>
          <li><a class="a2a_dd" href="https://www.addtoany.com/share"></a></li>
        </ul>
      </div>
  </div>
</div>
<% end %>
