---
pageable: true
per_page: 10
---
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Jason Wai.
      </h1>
      <h2 class="subtitle">
         A blog about eating unicorns.
      </h2>
    </div>
  </div>
</section>

<div>
  <% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>
</div>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <% page_articles.each_with_index do |article, i| %>
        <div class="content">
          <hr class="is-marginless">
          <h2 class="title title2">
            <strong><%= link_to article.title, article %></strong>
          </h2>
          <h4 class="subtitle subtitle2">
            <span><%= article.date.strftime('%e %b %Y') %></span>
          </h4>
          <p><% article.body %>
          <%= article.summary(150) %></p>
        </div>
        <% end %>
      </div>
      <div class="column is-4">
        <div class="content">
          <hr class="is-marginless">
          <h2>Twitter Feed</h2>
          <a class="twitter-timeline" data-chrome="noheader nofooter transparent noborders" data-dnt=true data-tweet-limit=3 href="https://twitter.com/jasonawai"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <hr class=is-marginless />
        </div>
      </div>
    </div>
  </div>
</div>

<section></section>

<div>
  <% if paginate %>
    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>
</div>
